body {
    max-width: 100%;
    margin:0 auto;
}
li {
    list-style-type: none;
}

#wrapper {
    margin-top:0;
}

#wrapper #header {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    z-index: 1000;
    width: 100%; }

#wrapper #header nav {
    width: 85%;
    border: none;
    border-right: none;
    padding: 0;
    background-image: url('../images/menu-background.png');
    height: 67px;
    margin-right: 0% !important;
    position:absolute;
    right:0;
    padding-right: 5%;
    margin-left:15%;
    box-shadow: -1px 5px 3px black;
}

.header-title {
    margin-top: 15% !important;
}

#navbar-collapse{
    float: right;
}

#navbar-collapse ul {
    font-size: 12pt;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 4%;
    padding-right: 100px;
    right: 17%;
}

#navbar-collapse li {
    float: left;
}

#navbar-collapse li a {
    color: white;
    display: inline;
    text-align: center;
    padding: 11px;
    text-decoration: none;
}

#navbar-collapse li a:hover {
    color: #eee4ba;
    font-style: italic;
    height: 65px;
    padding-top: 25px;
    text-decoration: none;
    background-color: transparent;
}
#navbar-collapse li a:focus {
    background-color: transparent;
    line-height: 3px;
    border-bottom: 8px inset #8e8778;
    border-top: 8px inset #8e8778;
    -moz-border-top-colors: #8e8778;
    -moz-border-bottom-colors: #8e8778;
}

.navbar-header{
    display:inline;
}

nav {
    z-index: 1;
}

.open>.dropdown-menu {
    display: block;
}

ul.dropdown-menu {
    position: absolute;
    background-color: #6c634b;
    top: 100%;
    left: 0;
    z-index: 1000;
    height: 300px;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.navbar .dropdown-menu li a {
    background: none;
    color: #ffffff !important;
    font-style: italic;
    height: 30px;
    padding-top: 15px;
}

.carousel-inner > .item > img{
    padding-top: 0%;
    position: relative;
    top: 0;
    margin-top:0px!important;
    width: 100%;
    height: 500px;
    color: white;
    overflow: hidden;
}

.carousel-inner .item .carousel-caption p {
    text-align: left;
    margin-left: -38px;
}

.slider-title {
    font-style: normal;
    color: white;
    text-transform: uppercase;
    position: absolute;
    margin-top: 50%;
    display:inline;
    z-index: 1000;
    font-size: 32pt;
}

.slider-description {

    text-transform: none;
    font-size: 14pt;
    position: relative;
}

.slider-description .slider-button {
    text-align: left;
    margin-left: -38px;
}

.carousel-indicators {
    margin-right: 51%;
    margin-bottom: 550px;
}

.carousel-caption p {
    padding-left: -80%;
}

#slogan {
    min-height: 110px;
    text-shadow: 1px 1px 1px #fff;
    border-bottom: 1px solid rgba(101, 78, 45, .2);
    background-color: #fafaf7;
    text-align: center;
    color: rgb(96, 75,48);
}

#slogan h4 {
    color: rgb(176, 159, 141);
}

.search {
    padding-top: 13px;
}

.search input {
    margin: 5px;
}

.search #search-input {
    border-radius: 20px;
    white-space: nowrap;
    font-style: italic;
    padding: 8px 18px;
    width: 168px;
    vertical-align: middle;
    color: #858585;
    border: 1px solid #b1b1b1;
    background-image: url('../images/input-field.png');
}

.search #search-input:focus {
    outline: none;
}

.center{
    text-align: center;
}

.home {
   width: 100%;

}

.content-area-container {
    height: 36%;
    background-image: url('../images/body-background.png');
}

.content-area-container p{
    color: rgb(144, 143, 125);
    font-style: italic;
}

.content-area-container .content-items {
   margin-top:3%;
}

.content-area-container .content-items a {
    font-style: normal;
    color: #442917;
    letter-spacing: -1px;
}

#location-home #map {
    height: 400px;
}

#home-location .work-time .location {
    color: rgb(139, 138, 118);
}
#home-location .work-time {
    padding: 0;
}

#home-location .work-time .day {
    font-size: 14pt;
    color: #cac6a1;
    text-transform: uppercase;
}

#home-location .work-time .clock {
    color: #442917;
    font-size: 12pt;
}

#testimonials .testimonial {
    box-shadow: 1px 1px 1px rgba(81, 51, 27, 0.6), 0 0 1em #51331b, 0 0 0.2em #51331b;
}

.testimonial h1, #wrapper #contentMain .contentMain-content-area .content-area-container .content-items #testimonials .testimonial h2, #wrapper #contentMain .contentMain-content-area .content-area-container .content-items #testimonials .testimonial h3, #wrapper #contentMain .contentMain-content-area .content-area-container .content-items #testimonials .testimonial h4, #wrapper #contentMain .contentMain-content-area .content-area-container .content-items #testimonials .testimonial h5, #wrapper #contentMain .contentMain-content-area .content-area-container .content-items #testimonials .testimonial h6 {
    margin: 0;
}

.testimonial h3 {
    margin-right: 40px;
    margin-top: 70px;
    font-size: 18pt;
    color: #442917;
}

.testimonial p {
    font-size: 12pt;
    color: #92907c;
}

#btn-browse-menu{
    background-image: url('../images/body-background.png');
}

.browse-content-btn {
    border-radius: 20px;
    border: 1px solid rgba(65, 58, 39, 0.8);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6), 0 0 1em black, 0 0 0.2em black !important;
    color: #fff;
    text-align: center;
    font-style: normal;
    font-size: 16px;
    background-image: url('../images/big-button.png');
    left: 224px;
    top: 412px;
    width: 250px;
    height: 40px;
}

.browse-content-btn.home-menu-btn {
    overflow: hidden;
    padding-top: 10px;
}

.browse-content-btn:focus {
    outline: none;
}

#footer {
    padding-top: 35px;
    background-color: #fafaf7;
    border-top: 1px solid rgba(101, 78, 45, .2);
}

.content-footer .container .row {
    line-height: 24px;
    color: #442917 !important;
    padding-bottom: 15px;
    border-bottom: 1px solid #d5cf9d;
}

.content-footer .container .row div {
    padding-right: 15px;
}

#footer .row div ul {
    margin: 0;
    padding-left: 10px;
}

#footer ul a {
    color: #442917;
}

#footer {
    padding-top: 15px;
    background-color: #f2f1e8;
    color: #442917;
}

#footer nav #copyright {
    color: #92907c;
    padding-bottom: 25px;
    font-style: italic;
}

#footer nav #copyright a {
    color: #686650;
    font-style: italic;
}

.lower-footer {
    margin: 0;
    width: 100%;
    text-align: center;
    display: inline-block;

}

.lower-footer li {
    text-transform: uppercase;
    display: inline-block;
    margin-right: 5px;
}


.lower-footer li a {
    color: #442917;
    text-decoration: none;
}

#footer .lower-footer li a:hover {
    color: #cac6a1;
    font-style: italic;
}

#footer h3 {
    color: #cac6a1;
    text-transform: uppercase;
}

.main-title {
    color: #cac6a1;
    font-size: 16pt;
    text-transform: uppercase;
    letter-spacing: -2px;
}

#btn-browse-menu .btn {
 background-color: #a39e7a;
}

#home-recommend {
    width: 24%;
    margin-left: 17%;
}

.menu-item-body h3 {
    font-size: 14pt;
    color: #442917;
    text-transform: capitalize;
    margin-top: 26px;

}

.menu-item-body h3 {
    font-size: 14pt;
    color: #442917;
    text-transform: capitalize;
    margin-top: 26px;
    font-weight: bold;
}

.menus .menu-item-body h3  {
    font-size: 14pt;
    color: #442917;
    text-transform: capitalize;
    margin-top: 6px !important;
    font-weight: bold;
}

.thumb {
    margin-right:-14%;
    margin-bottom: 2%;
}

.thumb img {
    height: 70px;
    width: 70px;
}
#home-recommend .menu-item-body {
    margin-top:-5%;
}

#home-recommend p {
    font-size: 12pt;
    color: #92907c;
    margin-top:-4%;
}

#home-testimonials {
    width: 20%;
    margin-left: 0%;
    float: left;
}
#home-testimonials img {
    margin-left: 2%;
    display: inline;
}

#home-testimonials .panel-body .name{
    float: right;
    display: inline-block;
    margin-top:-20%;
    padding-right: 20%;
}

#home-testimonials .panel-body p{
   margin-top: 2%;
    float: right;
    display: inline;
}

#home-location {
    width: 24%;
}

#home-location .main-title{
    margin-left:-3%;
}

#home-location day {
    font-size: 12pt;
    color: #92907c;
}
.home-map {
    width: 75%;
    height: 75%;
    margin-top: 5px;
}

#browse-menu {
    background-image: url('../images/footer-button.png');
}

i {
    color: rgb(186, 187, 173);
}

.header-body {
    color: rgb(208, 201, 155);
}