.left {
    float: left;
    display: inline-block;
    margin-left: 17%;
}

.mid {
    margin-left: 2%;
}

.right {
    float: right;
    display: inline-block;
    margin-right: 5%;
}

.menu-item .menu-item-price {
    display: block;
    position: absolute;
    background: url(../images/price.png) no-repeat bottom left;
    top: 12px;
    left: -8px;
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6), 0 0 1em black, 0 0 0.2em black;
    letter-spacing: 1px;
    padding: 3px;
    padding-bottom: 8px;
}

.menu {
    height: 80% !important;
    width: 100%;
    padding-bottom:150px;
}

.left, .mid, .right {
    width: 25%;
}