<div class="container" id="wrapper-background">
    <div class="page-title">
    <h1 class="header-title">POST TITLE GOES HERE</h1>
    <p class="header-body">Posted by Admin in Some Category on March 13, 2010 | 2 Comments</p>
    </div>
</div>
<div class="contentMain-content-area">
    <div class="contentMain-content-area">
        <div id="breadcrumbs">
            <div class="container">
                <ol class="breadcrumb pull-left">
                    <li><a href="/#">HOME</a></li>
                    <li>SOME CATEGORY</li>
                    <li class="active"><a href="/#/articles">REVIEWS</a></li>
                </ol>
                <div class="search pull-right">
                    <form method="get" id="searchform" action="">
                        <input type="text" id="search-input" class="" name="searchInput" placeholder="Search this website...">
                        <button type="submit" id="search-button" class="btn browse-content-btn">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="content-area-container container">
            <div class="content-items">
                <div id="blog-page-content" class="row">
                    <div class="col-xs-12 col-sm-9">
                        <section class="post">
                            <div class="thumb pull-left">
                                <img src="../images/article.jpg" class="img-thumbnail" alt="img">
                            </div>
                            <div class="post-body">
                                Rhoncus quis, varius sed velit eu nunc lass aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut tincidunt vulputate orci. Etiam massa ligula, tempus in dictum dictum, volutpat nec nisi. Maecenas tempor fermentum viverra. Proin eget tellus molestie, dignissim ante in, accumsan metus. Phasellus lacinia lacus nec arcu commodo rutrum. Fusce vulputate neque neque, nec fermentum felis lobortis eget. In orci nunc, vehicula vitae consectetur quis, porttitor in lacus. Maecenas erat tortor, tincidunt eu posuere at, ornare a purus. Nam vestibulum cursus mauris et ultricies. Morbi libero lectus, luctus in iaculis in, blandit in eros. Integer convallis porta blandit. Nunc in accumsan magna. Etiam laoreet vel quam non mattis.
                                Duis non arcu nec lectus rhoncus sagittis. Aliquam vestibulum lectus ante, vel lobortis quam condimentum eget. In sagittis massa id mauris dapibus vehicula. Sed odio dolor, luctus et condimentum a, molestie vitae nisl. In rutrum facilisis est, vel facilisis augue eleifend quis. Cras aliquet quis sapien id laoreet. Donec nec orci non nunc moll is mattis non vel enim. Aenean luctus ornare neque, in dignissim tellus tristique nec. Ut luctus suscipit turpis et commodo. In et gravida magna. Vivamus sed magna at dui sollicitudin tempor. Proin tellus ipsum, adipiscing in leo vel, volutpat dictum orci.
                            </div>
                        </section>
                        <section class="post-comments">
                            <h2 class="title" style="font-family: 'LeagueGothic', serif; color: #cac6a1">2 COMMENTS</h2>
                            <div class="row comment">
                                <div class="col-xs-12 col-sm-10">
                                    <div class="panel panel-default comment-body">
                                        <div class="panel-body">
                                            <h4 class="comment-title">Nick Roach says:</h4>
                                            <div>
                                                Rhoncus quis, varius sed velit eu nunc lass aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut tincidunt vulputate orci. Etiam massa ligula, tempus in dictum dictum, volutpat nec nisi. Maecenas tempor fermentum viverra.
                                            </div>
                                            <button class="btn browse-content-btn pull-right" id="search-button">Search</button>
                                        </div>
                                    </div>
                                    <div class="re-comment col-xs-12 col-offset-3 col-sm-12 col-offset-3">
                                        <div class="row comment">
                                            <div class="col-xs-12 col-sm-10 ">
                                                <div class="panel panel-default comment-body">
                                                    <div class="panel-body">
                                                        <h4 class="comment-title">Nick Roach says:</h4>
                                                        <div>
                                                            Rhoncus quis, varius sed velit eu nuncb lass aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut tincidunt vulputate orci. Etiam massa ligula, tempus in dictum dictum, volutpat nec nisi. Maecenas tempor fermentum viverra.
                                                        </div>
                                                        <button class="btn browse-content-btn pull-right" id="search-button">Search</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="comment-add">
                            <div id="comment-wrap">
                                <div id="comment-section" class="nocomments">
                                </div>
                                <div id="respond" class="comment-respond">
                                    <h3 id="reply-title" class="title">LEAVE A COMMENT</h3>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>