<div id="slider">
    <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="center" style="align-content: center">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
        </div>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="../images/carousel-background.png" alt="img">
                    <div class="carousel-caption slider-title">
                        <p>DELICIOUS FOOD THAT WON'T<br>HURT YOUR WALLET</p>
                        <div class="slider-description">
                            <p>Fusce nunc diam, suscipit a iaculis ac, tristique ac erat.<br>
                                Nunc eros lacus, placerat non ornate et, dignissim ut <br>
                                ligula. Duis sed neque et velit rutrum rutrum ut nec <br>
                                tellus. Nulla facillisi. Nullam sed leo fringilla elit volutpat</p>
                                    <div class="slider-button">
                                        <a href="" class="btn browse-content-btn home-menu-btn">Button's Text Goes Right Here</a>
                                    </div>
                        </div>
                    </div>
            </div>
            <div class="item">
                <img src="../images/carousel-background.png" alt="img">
                    <div class="carousel-caption slider-title">
                        <p>DELICIOUS FOOD THAT WON'T<br>HURT YOUR WALLET</p>
                        <div class="slider-description">
                        <p>Fusce nunc diam, suscipit a iaculis ac, tristique ac erat.<br>
                            Nunc eros lacus, placerat non ornate et, dignissim ut <br>
                            ligula. Duis sed neque et velit rutrum rutrum ut nec <br>
                            tellus. Nulla facillisi. Nullam sed leo fringilla elit volutpat</p>
                            <div class="slider-button">
                                <a href="" class="btn browse-content-btn home-menu-btn">Button's Text Goes Right Here</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../images/carousel-background.png" alt="img">
                        <div class="carousel-caption slider-title">
                            <p>DELICIOUS FOOD THAT WON'T<br>HURT YOUR WALLET</p>
                            <div class="slider-description">
                                <p>Fusce nunc diam, suscipit a iaculis ac, tristique ac erat.<br>
                                    Nunc eros lacus, placerat non ornate et, dignissim ut <br>
                                    ligula. Duis sed neque et velit rutrum rutrum ut nec <br>
                                    tellus. Nulla facillisi. Nullam sed leo fringilla elit volutpat</p>
                                    <div class="slider-button">
                                        <a href="" class="btn browse-content-btn home-menu-btn">Button's Text Goes Right Here</a>
                                    </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div id="slogan">
            <div class="container">
                <h2 class="slogan-header center">“Your awesome company slogan goes right over here, we have the best food around”</h2>
                <h4>UNC ELEMENTUM LACUS IN GRAVIDA PELLENTESQUE URNA DOLOR ELEIFEND FELIS ELEIFEND</h4>
                <div id="stars" class="center">
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
            </div>
        </div>
        <div class="content-area-container container home">
            <div class="content-items">
                <div id="home-page-content" class="row">
                    <div id="home-recommend" class="col-xs-12 col-sm-4">
                        <h3 class="main-title">Chef's Recommendations</h3>
                        <div class="menu-item row">
                            <div class="thumb col-xs-12 col-sm-4">
                                <a href="#/menu/">
                                <img src="../images/nick-roach.png" class="img-thumbnail">
                                </a>
                            </div>
                            <div class="menu-item-body col-sm-8">
                                <h3>Food Title Goes here</h3>
                                <p>Description of the food goes right<br>
                                over here yes it does</p>
                            </div>
                        </div>
                        <div class="menu-item row">
                            <div class="thumb col-xs-12 col-sm-4">
                                <a href="#/menu/">
                                <img src="../images/nick-roach.png" class="img-thumbnail">
                                </a>
                            </div>
                            <div class="menu-item-body col-sm-8">
                                <h3>Food Title Goes here</h3>
                                <p>Description of the food goes right<br>
                                   over here yes it does</p>
                            </div>
                        </div>
                        <div class="menu-item row">
                            <div class="thumb col-xs-12 col-sm-4">
                                <a href="#/menu/">
                                <img src="../images/nick-roach.png" class="img-thumbnail">
                                </a>
                            </div>
                            <div class="menu-item-body col-sm-8">
                                <h3>Food Title Goes here</h3>
                                <p>Description of the food goes right<br>
                                over here yes it does</p>
                            </div>
                        </div>
                    </div>
                    <div id="home-location" class="col-xs-12 col-sm-4">
                        <h3 class="main-title">Location and hours of operation</h3>
                        <div class="row">
                            <div class="thumbnail home-map col-xs-12 col-sm-8">
                                <div id="map" class="map-locationpage">
                                    <div id="embed-map-display" style="height:100%; width:100%;max-width:100%;">
                                        <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJa-QiA5SGqkARIbhz0Ykqz50&key=AIzaSyCvUg80lHrxsbV1POyAf7Q-Mwp_fDzStuM"></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="work-time col-xs-12 col-sm-10">
                                <p class="location">Telerik Academy, bulevard "Aleksandar Malinov", Sofia</p>
                                <span class="day title">Mon-Fri: <span class="clock">8am-6pm</span></span>
                                <span>&nbsp;&nbsp;&nbsp;</span>
                                <span class="day title">Sat-Sun: <span class="clock">8am-10pm</span></span>
                            </div>
                        </div>
                    </div>
                    <div id="home-testimonials" class="col-xs-12 col-sm-4">
                        <h3 class="main-title">Customer Testimonials</h3>
                        <div class="testimonial panel panel-default">
                            <div class="panel-body">
                                <div class="thumb pull-left">
                                    <img src="../images/nick-roach.png" class="img-thumbnail" alt="Nick Roach">
                                </div>
                                <div class="name">
                                <h3>Nick Roach</h3>
                                </div>
                                <p>“In just nibh, congue nec dapibus ac, placerat<br>
                                    In just nibh, congue nec dapibus ac, placerat eget sem. Nunc consequat felis non elit ultricies in varius massa laoreet. Aenean lectus nisl, ellentesque in fermentum sit amet, convallis a lorem condimentum mollis augue.”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="btn-browse-menu" class="text-center">
            <a href="#/menu" class="btn browse-content-btn home-menu-btn" id="browse-menu">Click Here To Browse The Menu</a>
        </div>
    </div>
</div>