<div class="container" id="wrapper-background">
    <div class="page-title">
        <h1 class="header-title">STORE LOCATION</h1>
        <p class="header-body">Post description text goes right over here</p>
    </div>
</div>
<div class="contentMain-content-area">
    <div id="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb pull-left">
                <li><a href="/#">HOME</a></li>
                <li>SOME CATEGORY</li>
                <li class="active"><a href="/#/location">LOCATION</a></li>
            </ol>
            <div class="search pull-right">
                <form method="get" id="searchform" action="">
                    <input type="text" id="search-input" class="" name="searchInput" placeholder="Search this website...">
                    <button type="submit" id="search-button" class="btn browse-content-btn">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="content-area-container container">
        <div class="content-items">
            <div id="location-page-content" class="row">
                <div class="col-xs-12 col-sm-4">
                    <div>
                        <h3 class="title">Address</h3>
                        <p>3324 Sunny Drive Street<br>
                           Some City CA, 33423</p>
                    </div>
                    <div>
                        <h3 class="title">Hours of operation</h3>
                        <p>MONDAY-FRIDAY: <span>8am-10pm</span></p>
                        <p>SATARDAY-SUNDAY: <span>10am-8pm</span></p>
                    </div>
                    <div>
                        <h3 class="title">Contact Info</h3>
                        <p>EMAIL ADDRESS: <span>info@mycuisine.com</span></p>
                        <p>TELEPHONE: <span>754-234-6643</span></p>
                        <p>FAX: <span>343-664-2234</span></p>
                    </div>
                </div>
                <div class="thumbnail col-xs-12 col-sm-8">
                    <div id="map" class="map-locationpage">
                        <div id="embed-map-display" style="height:100%; width:100%;max-width:100%;">
                            <iframe style="height:100%;width:100%;border:0;" frameborder="0"
                                    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJa-QiA5SGqkARIbhz0Ykqz50&key=AIzaSyCvUg80lHrxsbV1POyAf7Q-Mwp_fDzStuM"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>